<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="title">Amministratore</ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:event type="preRenderView" listener="#{actionDisplaysWaitOperations.initBeans}"/>
        </f:metadata>       
        <div id="content">
            <f:view>
                <p:breadCrumb>
<<<<<<< HEAD
                    <p:menuitem value="home" outcome="/admin/schermoAmministratore" rendered="#{modello.utente.ruoloAdmin}"/>   
=======
                    <p:menuitem value="home" outcome="/admin/schermoAmministratore" rendered="#{modello.utente.ruoloAdmin}"/>  
>>>>>>> master
                </p:breadCrumb>

                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />  

                <div class="ui-g">

                    <div class="ui-g-2">
                        <p:growl id="growl" showDetail="true" showSummary="true"/>
                    </div>

                    <div class="ui-g-8">

                        <p:panel id="panel-table-wait">

                            <p:dataTable styleClass="table table-hover" value="#{waitOperationView.waitOperations}" var="operation">
                                <p:column headerText="File path">
                                    <p:outputLabel value="#{operation.pathFile}"/>
                                </p:column>

                                <p:column headerText="Dimensione kb">
                                    <p:outputLabel value="#{operation.dimensionFile}"/>

                                </p:column>

                                <p:column headerText="Creato il">
                                    <p:outputLabel value="#{operation.creationDate}">
                                        <f:converter converterId="it.unibas.printspooler.controllo.converters.DateConverter"/>
                                    </p:outputLabel>
                                </p:column>

                                <p:column headerText="Stato">
                                    <p:outputLabel value="#{operation.descriptionState}"/>
                                </p:column>
                            </p:dataTable>
                        </p:panel>

                        <p:panel id="panel-dialo-add">
                            <p:dialog widgetVar="dialog-new">
                                <h:form>

                                    <p:panelGrid columns="3">
                                        <p:outputLabel for="in-path" value="Path file"/>
                                        <p:inputText id="in-path" value="#{waitOperationView.path}"/>
                                        <p:message for="in-path"/>

                                        <p:outputLabel for="in-dimension" value="Dimension file"/>
                                        <p:inputNumber id="in-dimension" value="#{waitOperationView.dimension}"/>
                                        <p:message for="in-dimension"/>

                                        <p:commandButton value="Ok" actionListener="#{actionDisplaysWaitOperations.addOperation}" 
                                                         onclick="PF('dialog-new').hide()" 
                                                         update=":growl, :panel-table-wait"/> 
                                        <p:outputLabel/>
                                        <p:commandButton value="Annulla" onclick="PF('dialog-new').hide()"/> 
                                    </p:panelGrid>
                                    
                                </h:form>

                            </p:dialog>
                        </p:panel>

                    </div>
                    <div class="ui-g-2">
                        <p:commandButton value="Stampa file"  onclick="PF('dialog-new').show()"/>
                    </div>

                </div>

            </f:view>
        </div>
    </ui:define>
</ui:composition>