<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="title">Amministratore</ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:event type="preRenderView" listener="#{actionLoadSuccessOperation.initBeans}"/>
        </f:metadata>       
        <div id="content">
            <f:view>
                <p:breadCrumb>
                    <p:menuitem value="home" outcome="/admin/schermoAmministratore" rendered="#{modello.utente.ruoloAdmin}"/>  
                </p:breadCrumb>

                <div class="ui-g">

                    <div class="ui-g-2">
                    </div>

                    <div class="ui-g-8">

                        <p:panel id="panel-table-wait">

                            <p:dataTable styleClass="table table-hover" value="#{viewSuccessOperations.successOperation}" var="operation">
                                <p:column headerText="File path">
                                    <p:outputLabel value="#{operation.pathFile}"/>
                                </p:column>

                                <p:column headerText="Dimensione kb">
                                    <p:outputLabel value="#{operation.dimensionFile}"/>

                                </p:column>

                                <p:column headerText="Creato il">
                                    <p:outputLabel value="#{operation.executionDate}">
                                        <f:converter converterId="it.unibas.printspooler.controllo.converters.DateConverter"/>
                                    </p:outputLabel>
                                </p:column>

                                <p:column headerText="Stato">
                                    <p:outputLabel value="#{operation.descriptionState}"/>
                                </p:column>
                              
                            </p:dataTable>
                        </p:panel>
                    </div>
                    <div class="ui-g-2">

                    </div>

                </div>

            </f:view>
        </div>
    </ui:define>
</ui:composition>