@import 'variable';

.ui-button-text-only{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: $foreground-color !important;
    background-color: $primari-color !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.ui-button-text-only::-moz-focus-inner {
    border: none;
}

/* Overlay */
.ui-button-text-only::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primari-color !important;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.ui-button-text-only::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: $primari-color !important;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}


.ui-button-text-only:hover::before {
    opacity: 0.08;
}

.ui-button-text-only:focus::before {
    opacity: 0.24;
}

.ui-button-text-only:hover:focus::before {
    opacity: 0.3;
}


.ui-button-text-only:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.ui-button-text-only:disabled {
    color: $foreground-color !important;
    background-color: gray !important;
    box-shadow: none !important;
    cursor: initial;
}

.ui-button-text-only:disabled::before {
    opacity: 0;
}

.ui-button-text-only:disabled::after {
    opacity: 0;
}
